h3 {
    color: white;
}

body {
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.correcta {
    border-color: rgb(0, 158, 26);
    border-width: 3px;
}

.incorrecta {
    border-color: red;
    border-width: 3px;
}